<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Title</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>

  <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootrstrap/5.2.3/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">


  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nazwa</th>
      <th scope="col">ECTS</th>
      <th scope="col">Imie studentow | Indeks</th>
      <th scope="col">Imie Nauczyciela prowadzacego | Email</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row"></th>
      <td th:text="${course.getCourseName()}"></td>
      <td th:text="${course.getEctsPoints()}"></td>
<td>
    <ul th:each="student : ${allStudents}">
      <li th:text="${student.getName() + ' | ' + student.getIndeks()}"></li>
<a>_____________________________________</a>
    </ul>
</td>
      <td>
          <ul th:text="${course.getTeacherName() + ' | ' + course.getTeacherEmail}"></ul></td>
      <td><a th:href="${'/course/edit?id='+course.id}">Edytuj</a></td>
    </tr>
    </tbody>
  </table>
  <a  class="btn btn-light" data-mdb-ripple-color="dark" href="/courses">Powrot</a>
</div>
</body>
</html>