<!----       $ - obiekt/model ktory odbieramy
      @ - wskazujemy na adres
      * - wskazujemy na pole, do ktorego chcemy przypisac input
       ----->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Dodaj nowego Nauczyciela</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>

  <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootrstrap/5.2.3/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
  <form class="form-horizontal" th:object="${newTeacher}" th:action="@{/teachers}" th:method="post"/>
<div class="form-group">
    <div class="form-group">
        <label class="control-label">Id:</label>
        <input type="text" class="form-control" th:field="*{newTeacher.id}"/>
    </div>
  <label class="control-label">Imie:</label>
    <input type="text" class="form-control" minlength="2" maxlength="40" th:field="*{newTeacher.name}">
</div>
    <div class="form-group">
      <label class="control-label">Nazwisko:</label>
      <input type="text" class="form-control" th:field="*{newTeacher.surname}"/>
    </div>
    <div class="form-group">
        <label class="control-label">Email:</label>
        <input type="text" class="form-control" th:field="*{newTeacher.email}"/>
        <label></label>
    </div>
    <div class="row">
        <button type="submit" class="btn btn-dark">Edytuj Nauczyciela</button>
    </div>
  </form>

</div>
</body>
</html>